{% extends './base.html '%}

{% block title %} Home {% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
        <a class="nav-link active ml-auto" aria-current="page" href="#">Bienvenido, {{ current_user.fullname }}</a>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block customCSS %}
{% endblock %}
{% block body %}
<h1>Bienvenido, {{ current_user.fullname }}</h1>
<a class="btn btn-secondary" href="{{ url_for('logout') }}">Logout</a>
<h1>SESSION, {{ current_user.username }}</h1>
{% endblock %}